
<nav class="bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <img src="image/logo.png" class="img-logo" alt="logo">
      </div>
      <div class="col">
        <div class="d-flex flex-row-reverse bd-highlight">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="d-flex">
  <ul class="nav flex-column">
    <li class="nav-item">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">

              <span>Bens</span>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">

            <div class="list-group">
              <a class="list-group-item list-group-item-action" aria-current="true">
                Cadastrar
              </a>
              <a href="pages/cadastro.html" class="list-group-item list-group-item-action" aria-current="true">
                Listar
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <div class="d-flex flex-column flex-fill">
    <div class="container-fluid">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav>

      <div class="card">
        <div class="card-header">
          Cadastro de bens
        </div>
        <div class="card-body">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
